*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
main{
    background-color: rgb(177, 52, 250);
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 1, 0.35);
    width: 380px;
    text-align: center;
}
h1{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 6px;
    font-size: 18px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}
input[type="number"]{
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    height: 30px;
}
input[type="button"]{
    padding: 6px 8px;
    border-radius: 4px;
    border: none;
    background-color: rgb(4, 4, 4);
    color: white;
    font-size: 14px;
    cursor: pointer;
    height: 34px;
}
input[type="button"]:hover{
    background-color: rgb(121, 14, 148);
}
p{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin: 4px 0;
}
#primeiro,#segundo,#terceiro{
    font-weight: bold;
}

@media (max-width:420px){
    main{width:100%; padding:8px}
    input[type="number"]{height:28px}
    input[type="button"]{height:30px}
}
